extends layout

block content
  h1= title
  
  form(action="/" method="post")
    input(type="text" placeholder="Title" name="title" autofocus)
    button(type="submit") Submit
  
  br
      
  table
    tr
      th Title
      th Controls
    each article in articles
      tr
        td= article.title
        td 
          a(href=`/${article._id}`) Edit
          a(href=`/${article._id}/delete`) Delete
